<!DOCTYPE html>
<html>
    <head>
		<title>Build A Blog</title>
        <style type="text/css">
            .error {
                color: red;
            }
			.success {
                color: green;
            }
			
			a {
				text-decoration: none;
			}
        </style>
    </head>
    <body>
        <div style='float: right'>
            {% if 'email' in session %}
            {{ session['email'] }}
            <form action="/logout" method="post" id='logout'>
                <input type="submit" value="Log Out" />
            </form>
            {% else %}
            <a href="/login">Login</a> | <a href="/signup">Signup</a>
            {% endif %}
        </div>
        <a href="/">Home</a> | <a href="/blogs">Blog</a> | <a href="/newpost">Add a Blog Entry</a>
		
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category,message in messages %}
            <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endwith %}

		<h2>{{ heading }}</h2>
        {% block content %}
        {% endblock %}
    </body>
</html>
